

html {
    background-color: #E6E6FA;
}

#titulo2 {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 220%;
   }

#voltar1 {
    border: solid;
    
}